<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>

<body>

	<form method="post" th:object="${producto}">
		<input type="number" th:field="*{id}" placeholder="ID" />
		<span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
	
	<input type="text" th:field="*{nombre}" placeholder="Nombre"/>
	<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
	
	<input type="number" step=".01" th:field="*{precio}" placeholder="Precio" />
	<span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></span>
	
	
	<input type="text" th:field="*{descripcion}" placeholder="Descripcion" />
	<span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>

	<input type="text" th:field="*{urlImagen}" placeholder="Imagen" />
	<span th:if="${#fields.hasErrors('urlImagen')}" th:errors="*{urlImagen}"></span>
	
	<input type="number" th:field="*{descuento}" placeholder="descuento"/>
	
	<button class="btn btn-primary btn-sm">Aceptar</button>

	<!-- me saca un input que puedo coger la hora

	<p>
	<label for="time">horario</label>
	<input type="time" id="time">
	</p>

	-->

	<!-- me saca un input que puedo coger la hora
	<p>
	<label for="time">horario</label>
	<input type="time" id="time">
	</p>
		-->

</form>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


</body>
</html>